<div class='main container'>
  <div class='row'>
    <div class='col-md-12'>
    <% @photos.each do | photo | %>
    <div class='col-md-3 text-center'>
      <%= photo['name'].first(25) %><br/>
      <%= link_to(image_tag(photo['image_url']), "https://500px.com/photo/#{photo['id']}") %>
      <br/>
      <%= photo['votes_count']%><i class="fa fa-heart" aria-hidden="true"></i>
      <% if photo['voted'] == false  %>
        <%= photo['voted'] %>
        <%= link_to 'Like', "/heart/#{photo['id']}" %>
        <% else %>
        <%= link_to 'UnLike', "/unheart/#{photo['id']}", id: 'unlike' %>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>
</div>
