<div class='container'>
<h2><%= @username %></h2>
<div class='container col-md-4'>
  <%= image_tag @user['userpic_url'], class: 'pull-left thumbnail' %>
</div>
  <div class='container col-md-6'>
  <strong> Name: </strong><%= @user['firstname']%> <%= @user['lastname']%><br/>
  <strong> City: </strong><%= @user['city'] %>
  </div>
  </div>

  <% if @photos.nil? %>
  <div class='container text-center'>
  <h4>User has no photos </h4>
  </div>
  <% else %>
  <div class='col-md-12'>
  <% @photos.each do | photo | %>
  <div class='col-md-3 text-center'>
    <%= photo['name'].first(25) %><br/>
    <%= link_to(image_tag(photo['image_url']), "https://500px.com/photo/#{photo['id']}") %>
    <br/>
    <%= photo['votes_count']%><i class="fa fa-heart" aria-hidden="true"></i>
  </div>
  <% end %>
  </div>
<% end %>
