<!DOCTYPE html>
<html>
  <head>
    <title>Fivepx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>
  <body>
    <div class='container'>
      <h1 id='logo'><%= link_to '500PX SCOUT', root_path %><small><i id='small' class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></small></h1>
      <div class='text-center'>
        <% if flash[:notice] %>
       <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
    <div class='container'>
      <div class='pull-left'>
      <% if session[:username].nil? %>
      <%= link_to 'Login', '/auth/500px/' %>
      <% else %>
      <strong>Welcome:</strong> <%= session[:username] %> || <%= link_to 'Log Out', logout_path %>
      <% end %>
    </div>
    <div class='pull-right'>
      <%= form_tag '/scouts/search', method: :get, controller: :show, class:'searchform' do %>
      <%= label_tag( "Search for User:") %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", id: 'search_button' %>
      <% end %>
    </div>
  </div>
  <%= yield %>
  </body>
</html>
